# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# User-specific project data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

# SwiftPM
.build/
.swiftpm/
